
.Generate-Slide0-web-design-image {
    display: flex;
    height: 50%;
    width: 100%;
    background-image: url("../../images/web_design.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.Rakhul {
    display: flex;
    background-image: url("../../images/r.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Ashwin {
    display: flex;
    background-image: url("../../images/a.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Priyadrashini {
    display: flex;
    background-image: url("../../images/p.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Harshith {
    display: flex;
    background-image: url("../../images/h.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Sravani {
    display: flex;
    background-image: url("../../images/s.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
